/* Змінні */
:root {
  --background-color: #ffffff;
  --hero-background-color: #2f303a;
  --command-background-color: #f5f4fa;
  --button-background-color: #2196f3;
  --footer-backgaraund-icons: rgba(255, 255, 255, 0.1);
  --title-color: #212121;
  --text-color: #757575;
  --text-logo: #2196f3;
  --text-logo-header: #000000;
  --text-logo-footer: #ffffff;
  --hero-title-color: #ffffff;
  --hover--color: #188ce8;
  --fill-icons: #afb1b8;
  --fill-icons-hover: #ffffff;
  --backgraund-icons-hover: #2196f3;
  --footer-bottom-border-color: #ececec;
  --cards-bottom-border-color: 1px solid #eeeeee;
  --card-set-gap: 30px;
  --icons-set-gap: 10px;
  --box-shadow--photo: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --box-shadov-cards: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --border-radius-photo: 0px 0px 4px 4px;
  --border-radius-button: 4px;
  --box-shadow-button-hero: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --box-shadow-hero: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --border-hero: 1px solid #000000;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--title-color);
}
/* Розміри контейнеру */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid green; */
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Шапка */

.main-nav {
  display: flex;
  align-items: center;
  justify-self: flex-start;
}
.nav {
  display: flex;
}
.page-header {
  border-bottom: 1px solid var(--footer-bottom-border-color);
}

/* Логотип */
.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--text-logo-header);
  text-decoration: none;
}
.logo-text {
  color: var(--text-logo);
}
.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  list-style: none;
}
/* Навігація */
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-color);
  text-decoration: none;
}
/* Контакти */
.kontakt-nav {
  display: flex;
  margin-left: auto;
}

.kontakt-nav .item:not(:last-child) {
  margin-right: 50px;
}
.kontakt-nav .link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  color: var(--text-color);
  fill: var(--text-color);
  text-decoration: none;
}

.envelope {
  margin-right: 10px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--hover--color);
}
.kontakt-nav .link:hover,
.kontakt-nav .link:focus {
  color: var(--hover--color);
  fill: var(--hover--color);
}
.site-nav .link.current {
  color: var(--hover--color);
}

/* Герой */
.hero {
  /* background-color: var(--hero-background-color); */
  color: var(--hero-title-color);
  text-align: center;
}

.hero-title {
  width: 696px;
  margin-bottom: 30px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
.hero-button {
  border: 0;
  border-radius: var(--border-radius-button);

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background-color: var(--button-background-color);
  color: var(--hero-title-color);
  cursor: pointer;
  letter-spacing: 0.06em;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--hover--color);
  box-shadow: var(--box-shadow-button-hero);
}

.overaly {
  max-width: 1600px;
  /* height: 600px; */
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 58, 52, 0.4), rgba(47, 58, 52, 0.4)),
    url(../images/new-foto.jpg);
  background-color: var(--hero-background-color);
  /* box-shadow: var(--box-shadow-hero);
  border: var(--border-hero); */
}
/* Властивості секцій  */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section:first-child {
  padding-top: 200px;
  padding-bottom: 200px;
}
.section:not(.hero) {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-name {
  margin-bottom: 50px;
  margin-top: 0px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Особливості */
.list-flexbox {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-flexbox .features-item {
  flex-basis: calc((100% - 3 * var(--card-set-gap)) / 4);
  margin-right: var(--card-set-gap);
}
.list-flexbox .features-item:last-child {
  margin-right: 0;
}

.features-icons-element {
  display: block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--command-background-color);
  padding: 25px 100px;
}
.features-icons {
  background-color: var(--command-background-color);
  border-radius: var(--border-radius-button);
}
.list-features-title {
  margin-bottom: 10px;
  margin-top: 0;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.list-features-text {
  margin-bottom: 0;
  margin-top: 0;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* Чим ми займаємося */
.work {
  margin-top: -94px;
}
.list-flexbox .work-item {
  flex-basis: calc((100% - 2 * var(--card-set-gap)) / 3);
  margin-right: var(--card-set-gap);
}
.list-flexbox .work-item:last-child {
  margin-right: 0;
}
/* Наша команда */
.section-command {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--command-background-color);
}
.section-command .item {
  background-color: var(--background-color);
  box-shadow: var(--box-shadow--photo);
  border-radius: var(--border-radius-photo);
}
.section-command-people {
  margin-bottom: 10px;
  margin-top: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
}
.section-command-position {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.command-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.list-flexbox .command-item {
  flex-basis: calc((100% - 3 * var(--card-set-gap)) / 4);
  margin-right: var(--card-set-gap);
}

.list-flexbox .command-item:last-child {
  margin-right: 0;
}
.list-icons {
  display: flex;
  list-style: none;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 16px;
  text-align: center;
}
.item-icons {
  margin-right: var(--icons-set-gap);
}
.item-icons:last-child {
  margin-right: 0;
}
.link-icons {
  display: block;
  width: 44px;
  height: 44px;
  fill: var(--fill-icons);
  padding: 12px;
}
.link-icons:hover,
.link-icons:focus {
  background-color: var(--button-background-color);
  fill: var(--hero-title-color);
  border-radius: 50%;
}
/* Наші партнери */
.partners-list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.partners-item {
  margin-right: var(--card-set-gap);
}
.link-partners-icons {
  display: block;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid var(--fill-icons);
  border-radius: var(--border-radius-button);
  fill: var(--fill-icons);
}
.link-partners-icons:hover,
.link-partners-icons:focus {
  fill: var(--backgraund-icons-hover);
  border: 1px solid var(--backgraund-icons-hover);
}

.partners-item:last-child {
  margin-right: 0;
}
/* Підвал */
.footer {
  background-color: var(--hero-background-color);
  color: var(--hero-title-color);
}
.footer-text {
  display: flex;
  align-items: baseline;

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-position {
  margin-right: 70px;
}

.footer-icons h2 {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.list-icons-footer {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-icons-footer .item-icons {
  background-color: var(--footer-backgaraund-icons);
  border-radius: 50%;
}

.list-icons-footer .link-icons {
  fill: var(--fill-icons-hover);
}
.logo-footer {
  padding: 0;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--text-logo-header);
  text-decoration: none;
}
.address p {
  margin-top: 20px;
  margin-bottom: 9px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--hero-title-color);
}
.address .link {
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-decoration: none;
}
.address .link:hover,
.address .link:focus {
  color: var(--hover--color);
}
.address li:first-child {
  margin-bottom: 9px;
}
.logo-text-footer {
  color: var(--text-logo-footer);
}

/* CARD SET */
.card-set {
  display: flex;
  flex-wrap: wrap;
}

.card-set .card-item {
  flex-basis: calc((100% - 2 * var(--card-set-gap)) / 3);
  margin-right: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
}
.card-set .card-item:nth-child(3n) {
  margin-right: 0;
}
.card-set .card-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.card-item .link-card-item:hover,
.card-item .link-card-item:focus {
  box-shadow: var(--box-shadov-cards);
}

.link-card-item {
  display: block;
  text-decoration: none;
}
.card-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.card-text {
  margin: 0;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.card-content {
  width: 370px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border-bottom: var(--cards-bottom-border-color);
  border-left: var(--cards-bottom-border-color);
  border-right: var(--cards-bottom-border-color);
}

/* Кнопки фільтри сторінки портфоліо */
.button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button .item:not(:last-child) {
  margin-right: 8px;
}
.button .filter {
  border: 0;
  border-radius: var(--border-radius-button);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 25px;
  padding-left: 25px;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--command-background-color);
}

.button .filter:first {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
}
.button .filter:hover,
.button .filter:focus {
  background-color: var(--button-background-color);
  color: var(--hero-title-color);
  border: 0;
  border-radius: var(--border-radius-button);
  box-shadow: var(--button-shadow);
}
